<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
	<error-code>404</error-code>
	<location>/404.jsp</location>
  </error-page>
  <error-page>
	<error-code>500</error-code>
	<location>/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>Servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/Servlet/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePWDServlet</servlet-name>
    <servlet-class>Servlet.ChangePWDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePWDServlet</servlet-name>
    <url-pattern>/Servlet/ChangePWDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>Servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashBoardServlet</servlet-name>
    <servlet-class>Servlet.DashBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardServlet</servlet-name>
    <url-pattern>/admin/DashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminChangePWDServlet</servlet-name>
    <servlet-class>Servlet.AdminChangePWDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangePWDServlet</servlet-name>
    <url-pattern>/admin/AdminChangePWDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddPeopleServlet</servlet-name>
    <servlet-class>Servlet.AdminAddPeopleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPeopleServlet</servlet-name>
    <url-pattern>/admin/AdminAddPeopleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexServlet</servlet-name>
    <servlet-class>Servlet.AdminIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexServlet</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserListServlet</servlet-name>
    <servlet-class>Servlet.AdminUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserListServlet</servlet-name>
    <url-pattern>/admin/AdminUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserEditServlet</servlet-name>
    <servlet-class>Servlet.AdminUserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserEditServlet</servlet-name>
    <url-pattern>/admin/AdminUserEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <servlet-class>Servlet.AdminUserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserDeleteServlet</servlet-name>
    <url-pattern>/admin/AdminUserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPicListServlet</servlet-name>
    <servlet-class>Servlet.AdminPicListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPicListServlet</servlet-name>
    <url-pattern>/admin/AdminPicListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserBanServlet</servlet-name>
    <servlet-class>Servlet.AdminUserBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserBanServlet</servlet-name>
    <url-pattern>/admin/AdminUserBanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPicDeleteServlet</servlet-name>
    <servlet-class>Servlet.AdminPicDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPicDeleteServlet</servlet-name>
    <url-pattern>/admin/AdminPicDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePicServlet</servlet-name>
    <servlet-class>Servlet.DeletePicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePicServlet</servlet-name>
    <url-pattern>/Servlet/DeletePicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditPicStatusServlet</servlet-name>
    <servlet-class>Servlet.EditPicStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPicStatusServlet</servlet-name>
    <url-pattern>/Servlet/EditPicStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>